<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="OpenGLEs2Tutorial.OpenGLEs2Tutorial" android:versionCode="1" android:versionName="1.0">
  <uses-sdk android:minSdkVersion="16" />
  <application android:label="OpenGLEs2Tutorial"></application>
</manifest>